.container {
  margin: 20px;
  display: flex;
  width: max-content;
  height: max-content;
  justify-content: center;
  align-items: center;
  background-color: #c0c0fa
}

.containerInfo {
  width: 150px;
}

@keyframes stroke1 {
  from {
    stroke-dashoffset: 0
  }
}

.Circle {
  animation: stroke1 1s ease-out forwards;
}

.containerGradient :hover { stroke-width: 70}

.containerGradient > text {display: none}

.containerGradient:hover > text  {display: block}