.container {
  margin: 20px;
  display: flex;
  width: max-content;
  height: max-content;
  justify-content: center;
  align-items: center;
  background-color: #c0c0fa
}

.containerInfo {
  width: 150px;
  position: relative;
  left: -100px;
}

@keyframes stroke {
  from {
    stroke-dashoffset: 0
  }
}

.CircleStart {
  animation: stroke 1s ease-out forwards;
}

.CircleEnd {
  transition: 0.5s;
}

.Text, .Circle, .Path {
  pointer-events: none;
  transition: 0.5s;
} 