.container {
  margin: 20px;
  display: flex;
  width: max-content;
  height: max-content;
  justify-content: center;
  align-items: center;
  background-color: rgb(157, 157, 214);
}

@keyframes stroke {
  from {
    stroke-dashoffset: 0;
  }
}

.Circle {
  stroke-dasharray: 503;
  animation: stroke 2s ease-out forwards;
}


