.container {
  margin: 20px;
  display: flex;
  width: max-content;
  height: max-content;
  justify-content: center;
  align-items: center;
  background-color: #c0c0fa
}

.containerPDF {
  transform-origin: 217px 231px;
  transform: rotate(90deg);
  margin: 20px;
  display: flex;
  width: max-content;
  height: max-content;
  justify-content: center;
  align-items: center;
  background-color: #c0c0fa
}

.containerGradient > path {
  stroke-dasharray: 1000;
  animation: dash 5s linear;
  animation-fill-mode: forwards;
}


@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.informationWndow {
  transition: 0.5s;  
}

.informationWndowT {
 position: relative;
 transition: 0.5s;  
}